<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="assets/templates/mobile_template_style.css">
    <link rel="shortcut icon" href="assets/img/Join_background.png" type="image/x-icon">


    <script src="mini_backend.js"></script>
    <script src="script.js"></script>
</head>
<body>
    <div class="topper-mobile">
        <img src="assets/img/joinlogoBlack.svg">
        <span onclick="showLogout()" class="topper-name-mobile" id="topper-name-mobile"></span>
    </div>
    <div class="options-mobile d-none" id="options-mobile" onclick="hideLogout()">
        <div>
            <a onclick="showHelp()">Help</a>
            <a href="legal_notice.html">Legal Notice</a>
            <a href="index.html">Log out</a>
        </div>
    </div>
    <div class="footer">
        <a href="summary.html">
        <div class="content-section-mobile" id="summary-section-mobile">
            <div>
                <img src="assets/img/icon-summary.svg">
            </div>
            <span>Summary</span>
        </div>
    </a>
        <a href="board.html">
        <div class="content-section-mobile" id="board-section-mobile">
            <div>
                <img src="assets/img/icon-board.svg">
            </div>
            <span>Board</span>
        </div>
    </a>
        <a href="add_task.html">
        <div class="content-section-mobile" id="addtask-section-mobile">
            <div>
                <img src="assets/img/icon-addtask.svg">
            </div>
            <span>Add Task</span>
        </div>
    </a>
        <a href="contacts.html">
        <div class="content-section-mobile" id="contacts-section-mobile">
            <div>
                <img src="assets/img/icon-contacts.svg">
            </div>
            <span>Contacts</span>
        </div>
    </a>
    </div>
</body>
</html>